# Muestra de variables de entorno

# Configuración Frontend
VITE_API_URL=http://localhost:8080/api

# Configuración Backend (si se levanta local)
# NOTA: Asegurarse de que el application-local.yml se corresponda con estas variables o crear una plantilla para él en backend/src/main/resources/application-local.yml.example
DB_URL=jdbc:postgresql://localhost:5432/thecollector
DB_USERNAME=postgres
DB_PASSWORD=TU_PASSWORD
JWT_SECRET=una_clave_secreta_de_al_menos_32_caracteres
